$c-app-selection: #fff70072;

$c-accent-primary: #2f5df3;
$c-accent-secondary: #2f5df3;

$c-text-primary: #191919;
$c-text-secondary: #676767;
$c-text-primary--invert: #ffffff;
$c-text-accent: $c-accent-primary;

$c-background-primary: #ffffff;
$c-background-secondary: #eaeaea;
$c-background-accent: $c-accent-primary;

$c-border-primary: #ededed;
$c-border-secondary: #dcdcdc;
$c-border-accent: $c-accent-primary;

$c-error: #fa0b0b;
