$themes: (
  // dark themes:
  dark:
    (
      app: (
        selection: $c-app-selection,
      ),
      border: (
        primary: #4c4c4c,
        secondary: #3a3a3a,
        error: $c-error,
        accent: $c-accent-primary--light,
        window: #494949,
      ),
      background: (
        app: #1f1f1f,
        primary: #303030,
        primary--invert: #ffffff,
        secondary: #1f1f1f,
        secondary--active: #aeaeae,
        secondary--disabled: #535353,
        secondary--invert: #ffffff,
        accent-primary: $c-accent-primary--dark,
        accent-secondary: $c-accent-secondary,
        overlay: #0a0a0a80,
        error: #913f3f,
        error-overlay: #fa0b0b88,
      ),
      text: (
        primary: #d8d8d8,
        primary--invert: #232323,
        secondary: #bfbfbf,
        secondary--invert: #939393,
        accent-primary: $c-accent-primary--dark,
        accent-secondary: $c-accent-secondary,
        disabled: darken(#bfbfbf, 24%),
        error: $c-error,
      ),
      icon: (
        primary: #d8d8d8,
        secondary: #727272,
        inactive: #4b4b4b,
      ),
      button: (
        hover: rgba(#ffffff, 0.07),
        focus: rgba(#ffffff, 0.03),
        accent: #1a4ffe,
      ),
      error: (
        text: #ffbbbb,
        background: $c-error--background,
      ),
    ),

  light: (
    app: (
      selection: $c-app-selection,
    ),
    border: (
      primary: #d9d9d9,
      secondary: #e7e7e7,
      accent: $c-accent-primary--light,
      error: $c-error,
      window: #e1e1e1,
    ),
    background: (
      app: #ffffff,
      primary: #ffffff,
      primary--invert: #000000,
      secondary: #ebebeb,
      secondary--active: #aeaeae,
      secondary--disabled: #535353,
      secondary--invert: #ffffff,
      accent-primary: #ffe2d3,
      //$c-accent-primary--light,
      accent-secondary: $c-accent-secondary,
      overlay: #ffffffbf,
      error: #f46969,
      error-overlay: #fa0b0b88,
    ),
    text: (
      primary: #000000,
      primary--invert: #f2f2f2,
      secondary: #656565,
      secondary--invert: #bfbfbf,
      accent-primary: $c-accent-primary--light,
      accent-secondary: $c-accent-secondary,
      disabled: #828282,
      error: $c-error,
    ),
    icon: (
      primary: #000000,
      secondary: #656565,
      inactive: #afafaf,
    ),
    button: (
      hover: rgba(#000000, 0.07),
      focus: rgba(#000000, 0.03),
      accent: #1a4ffe,
    ),
    error: (
      text: $c-text-primary--invert,
      background: #f17467,
    ),
  )
);
